p, h1, h2, h3 {
  margin: 0;
  padding: 5px 0px;
}

/* css_image */
img {
  border: none;
}

#main img {
    max-width:100%;
}

pre {
  margin: 5px 0px;
  padding: 5px;
  text-align: left;
  overflow: auto;
  font: 'Lucida Console', 'courier new', monospace;
  color: #193441;
  background: #D1DBBD;
  border-bottom: 1px solid #91AA9D;
  border-top: 1px solid #91AA9D;
}


/* links */
a {
  color: #3E606F;
  background-color: inherit;
  text-decoration: none;
}

a:hover {
  color: #193441;
  background-color: #D1DBBD;
}

